html, body {
    margin: -0.8% 0 0 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    background: #1F2937;
    font-family: 'Fira Sans', sans-serif;
}

.wrapper {
    width: 70%;
    margin: auto;
    border: 10px solid white;
    border-radius: 15px;
}

#header-container {
    padding: 60px 0 60px 0;
    background-image: linear-gradient(
        45deg,
        hsl(31deg 90% 69%) 0%,
        hsl(30deg 90% 68%) 11%,
        hsl(28deg 90% 68%) 22%,
        hsl(26deg 90% 68%) 33%,
        hsl(24deg 90% 67%) 44%,
        hsl(23deg 90% 67%) 56%,
        hsl(21deg 89% 67%) 67%,
        hsl(19deg 89% 67%) 78%,
        hsl(17deg 88% 67%) 89%,
        hsl(15deg 87% 66%) 100%
    );


    color: white;
    font-size: 25px;
    font-weight: bolder;
}

#user-input {
    height: 60px;
    width: 250px;
    background: transparent;
    color: white;
    font-size: 30px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    margin: auto;
}

::placeholder {
    color: white;
    opacity: 1;
}

#conversion-container {
    background: #1F2937;
    margin: -2.7% 0 0 0;
    padding: 60px 0 60px 0;
}

.measurement-title {
    color: white;
    font-size: 23px;
}

.conversion-output {
    color: #F4845F;
    font-size: 20px;
}